<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close dismiss" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-<%= icon %>"></span> <%= title %></h4>
        </div>
        <div class="modal-body">
            <%= message %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning btn-sm confirm_no" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            <button type="button" class="btn btn-success btn-sm confirm_yes" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Yes</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->