<div class="row">
    <div class="col-lg-6">
        <h4>What is this boilerplate?</h4>
        <p>This boilerplate is a ready setup for starting your next awesome javascript app in minutes. <br/>
            It includes -</p>
        <ul>
            <li>Backbone.js</li>
            <li>MarionetteJS</li>
            <li>RequireJS</li>
            <li>Twitter Bootstrap</li>
        </ul>
    </div>

    <div class="col-lg-6">
        <h4>Credits</h4>
        <p>I've started with the <b>backbone-marionette-require</b>
            example from <a href="http://todomvc.com/" target="_blank">TodoMVC</a>
            and changed few things to use pages and removed todo related things.
            Then added Twitter Bootstrap as my personal choice of frontend framework.
        </p>
        <p>
        <p>
            <span class="glyphicon glyphicon-globe"></span>
            <a target="_blank" href="http://todomvc.com/">TodoMVC</a> (by Jarrod Overson)<br/>
            <span class="glyphicon glyphicon-globe"></span>
            <a target="_blank" href="http://ajaxray.com/">ajaxray</a>
        </p>
        </p>
    </div>
</div>