<div class="jumbotron">
    <h1>
        <span class="text-success">
            <span class="glyphicon glyphicon-ok"></span>
            Marionette is ready!
        </span>
    </h1>
    <p class="lead">
        Let's start the dance!
        This boilerplate is a ready setup for starting your next awesome javascript app in minutes.
    </p>
    <p><strong>Backbone.Marionette + RequireJS + Twitter Bootstrap</strong></p>
    <p>
        <img src="img/Octocat.png">
        <a class="btn btn-lg btn-success" href="https://github.com/ajaxray/marionette-boilerplate" role="button"> Get the source</a>
    </p>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-bell text-danger"></span>
            Now with special region + commands for
            <button class="btn btn-primary btn-sm" type="button" id="modal">Modal</button>,
            <button class="btn btn-warning btn-sm" type="button" id="confirm">Confirm dialog</button> and
            <button class="btn btn-success btn-sm" type="button" id="notify">Notification</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h4>Backbone.Marionette</h4>
        <p>
            Backbone.Marionette is a composite application library for Backbone.js that aims to simplify the construction of large scale JavaScript applications.<br />
        </p>
        <p>
            <span class="glyphicon glyphicon-globe"></span>
            <a target="_blank" href="http://backbonejs.org/">Backbone.js</a><br/>
            <span class="glyphicon glyphicon-globe"></span>
            <a target="_blank" href="http://marionettejs.com/">Marionette</a>
        </p>
    </div>

    <div class="col-lg-4">
        <h4>RequireJS</h4>
        <p>RequireJS is a JavaScript file and module loader. It's used to implement <em>Asynchronous Module Definition (AMD)</em> for javascript modules.  </p>
        <p>
            <span class="glyphicon glyphicon-globe"></span>
            <a target="_blank" href="http://requirejs.org/">RequireJS</a><br/>
            <span class="glyphicon glyphicon-globe"></span>
            <a target="_blank" href="http://requirejs.org/docs/whyamd.html">Why AMD?</a><br/>
        </p>
    </div>

    <div class="col-lg-4">
        <h4>Twitter Bootstrap</h4>
        <p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
        <p>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Example Dropdown <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        </p>
        <p>
            <span class="glyphicon glyphicon-globe"></span>
            <a target="_blank" href="http://getbootstrap.com/">Twitter Bootstrap</a><br/>
            <span class="glyphicon glyphicon-globe"></span>
            <a target="_blank" href="http://glyphicons.com/">Glyphicons</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p><br /><br />
            <span class="glyphicon glyphicon-fire text-danger"></span>
            <small>Don't forget to check browser console while exploring this demo!</small>
        </p>
    </div>
</div>